<% provide(:title, 'Search') %>
<div class="show-all-friends">
  <h1>People</h1>
  <hr>
  <% @search.each do |friend| %>
    <div class="one-friend">
      <%= link_to friend, method: :get do %>
        <% if (get_avatar friend).nil? %>
          <figure class="avatar">
            <p><img src="/assets/avatar.jpg"></p>
          </figure>
        <% else %>
          <figure class="avatar">
            <p><img src=<%= "#{get_avatar friend}" %> ></p>
          </figure>
        <% end %>
      <% end %>
      <%= link_to "#{friend.name+' '+friend.surname}", user_path(friend), method: :get %>
    </div>
    <hr>
  <% end %>
</div>
